/* リセットcss */
html,
body,
h1,
h2,
h3,
h4,
h5,
a,
p,
img {
  margin: 0;
  padding: 0;
}

/* 共通部分 */

a {
  text-decoration: none;
}

html,
body {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.wrapper {
  margin: 0 50px;
}

li {
  list-style: none;
}

.footer {
  padding: 30px 0;
  text-align: center;
}

.porker-bg {
  background-image: url(../img/porker-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* トップページ(index.html) */

.main {
  background-image: url(../img/main-back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh;
}

.main-bg {
  background: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
}

.main-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-top: 15%;
}


.porker-intro-area h1 {
  font-size: 50px;
}

.porker-intro-area h3 {
  font-size: 15px;
  margin-top: 5px;
}

.main-button {
  display: inline-block;
  margin-top: 50px;
  color: black;
  height: 50px;
  line-height: 50px;
  transition: 0.5s;
}

.button-tule {
  display: flex;
  padding: 0 20px;
}


.main-button:hover .main-rule-link {
  transition: 0.5s;
  color: black;
}

.main-button:hover .button-tule {
  transition: 0.5s;
  background-color: white;
}

.main-button:hover .arrow-img {
  transition: 0.5s;
  opacity: 1;
}

.main-rule-link {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin: 0 auto;
}

.arrow-img {
  display: inline-block;
  position: relative;
  top: 25px;
  height: 10px;
}


/* ルールページ(rule.html) */
.rule-page {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

.button-area {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 40px;
  text-align: center;
  border-bottom: 2px solid grey;
}

.wait-place {
  display: inline-block;
  color: black;
  height: 50px;
  line-height: 50px;
  width: 280px;
  padding: 0 20px;
  margin: 0 20px;
  margin-top: 20px;
  background-color: white;
}


.wait-place-link {
  color: black;
  text-align: center;
}

.quickly-title {
  text-align: center;
  font-size: 40px;
  color: white;
  font-weight: bold;
}


.howplay-title-area {
  background-image: url(../img/rule-page-howplay-bg.jpg);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.howplay-title-bg {
  background: rgba(183, 183, 183, 0.7);
  height: 100%;
}

.howplay-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 200px;
  text-align: center;
  color: black;
}

.porker-intro-text {
  padding: 80px 0;
}

.intro-top-title {
  font-size: 40px;
  border-bottom: 1px solid gray;
}

.intro-text {
  margin-top: 25px;
  font-size: 20px;
}

.game-intro-flow {
  display: flex;
  margin-bottom: 80px;
  font-size: 20px;
}

.game-intro-flow span {
  font-size: 40px;
  padding-right: 20px;
}

.game-intro-flow p {
  position: relative;
  top: 15px;
}

.porker-notes {
  padding-top: 0;
  border-bottom: 1px solid gray;
}

/* room.html */

.room-page {
  background-color: black;
  color: white;
  height: 100vh;
  text-align: center;
  pointer-events: none;
  transition: 1s;
}

.room-page:hover {
  background-image: url(../img/porker-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.wait-title {
  color: white;
}

.circle-wait {
  background-color: black;
  text-align: center;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  margin: 0 10px;
}

.wait-circle-bg {
  position: relative;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.wait-up {
  color: black;
  position: relative;
  font-size: 70px;
  font-weight: bold;
  top: 40px;
}

.wait-down {
  font-size: 20px;
  color: black;
  font-weight: bold;
  position: relative;
  top: 30px;
}

.ja {
  padding-top: 20px;
  font-size: 80px;
}

.en {
  font-size: 60px;
  padding-bottom: 10px;
}


.wait-button {
  z-index: 1;
  position: absolute;
  display: inline-block;
  color: black;
  height: 200px;
  width: 200px;
  line-height: 200px;
  left: 0;
  top: 0;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  pointer-events: auto;
}

.wait-button:hover {
  background-color: black;
  color: white;
}

.wait-button:empty {
  visibility: hidden;
}

/* round*.html */

.round1-page {
  min-height: 100vh;
}

.contents {
  display: flex;
  justify-content: end;
  padding-top: 15px;
}

.circle-bg {
  text-align: center;
  border-radius: 50%;
  background-color: black;
  height: 100px;
  width: 100px;
  margin: 0 10px;
}



.up:empty {
  height: 47px;
}

.player-count-show .up {
  position: relative;
  font-size: 30px;
  color: white;
  font-weight: bold;
  top: 10px;
}


.player-count-show .down {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.round-time .up {
  position: relative;
  font-size: 20px;
  color: white;
  font-weight: bold;
  top: 20px;
}

.round-time .down {
  position: relative;
  font-size: 30px;
  color: white;
  font-weight: bold;
  top: 8px;
}

.trump {
  height: 150px;
  margin: 0 10px;
}

.trump-set,
.my-trump-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trump-set {
  margin: 0 200px;
}

.random-trump-wrapper {
  padding-top: 10px;
}

.my-trump-wrapper {
  padding-top: 50px;
}

.rand-trump:empty {
  border: 2px solid white;
  height: 150px;
  width: 110px;
  margin: 0 10px;
}



.trump-text p {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

#fold:empty,
#check:empty {
  visibility: hidden;
}

.fold-button {
  background-color: blue;
  box-shadow: 0 5px 0 rgb(2, 2, 205);
}

.fold-button:hover {
  box-shadow: 0 0 0 rgb(2, 2, 205);
}

.check-button {
  background-color: orange;
  box-shadow: 0 5px 0 #c37800;
}

.check-button:hover {
  box-shadow: 0 0 0 #b46f00;
}

.circle-btn {
  display: inline-block;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  transition: .4s;
}

.circle-btn:hover {
  transform: translateY(4px);
}

.fold-button,
.check-button,
.result-button-right,
.result-link-button {
  color: white;
  font-weight: bold;
  line-height: 100px;
}

.result-button-left,
.result-button-right {
  background-color: red;
  box-shadow: 0 5px 0 rgb(179, 1, 1);
}

.result-button-right:hover {
  box-shadow: 0 0 0 rgb(179, 1, 1);
}

.result-button-left,
.result-button-left:empty {
  visibility: hidden;
}

.result-button-right:empty {
  visibility: hidden;
}

/* result.html */
.result-page {
  min-height: 100vh;
}

.final-ranking-list {
  text-align: center;
  padding: 30px 0 0;
}


.ranking {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin: 0 10px;
}

.user-name {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin: 0 10px;
}

.final-trump-list {
  display: flex;
}

.final-trump {
  height: 80px;
  margin: 0 5px;
}

.role-name {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin: 0 10px;
}

.final-player-table {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin: 0 10px;
  margin: 0 auto;
}

.rank-title {
  padding: 0 50px;
}

.guest-title {
  padding: 0 50px;
}

.myTrump-title {
  padding: 0 50px;
}

.Role-title {
  padding: 0 50px;
}

.final-player-table tr td {
  padding: 10px 20px;
}

.result-button-area {
  display: flex;
  justify-content: end;
}

.result-link-button {
  background-color: rgb(49, 49, 49);
  box-shadow: 0 5px 0 black;
}

.result-link-button:hover {
  box-shadow: 0 0 0 black;
}

.result-link-button:empty {
  visibility: hidden;
}

/* postrecordページ */
.postrecord-page {
  min-height: 100vh;
}
