<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Cardgame</title>
  <link rel="stylesheet" href="../css/stylesheet.css">
  <script>
    window.onload = function () {
      var sse = new EventSource('/Room/sendresult');
      sse.onmessage = function (event) {
        console.log(event.data);
        if (event.data == 4) {
          document.getElementById("room_incomplete").textContent = event.data + "/4";
          document.getElementById("result_button").textContent = "最終結果";
        }
        else {
          //操作対象のDOMを取得
          document.getElementById("room_incomplete").textContent = event.data + "/4";
        }
      }
    }

  </script>
</head>

<body>
  <div class="gamewait-page porker-bg">
    <h1>他のプレーヤーがゲーム終了するまでこちらでおまちください</h1>
    <div class="player-count-show circle-bg">
      <h1 id="room_incomplete" class="up"></h1>
      <p class="down">接続人数</p>
    </div>
    <a id="result_button" href="/Room/result"></a>
  </div>
</body>

</html>
