<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Cardgame</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('/Room/exist');
      sse.onmessage = function (event) {
        console.log(event.data);
        var p1 = document.getElementById("p1");//操作対象のDOMを取得
        p1.appendChild(document.createTextNode(event.data));//ノードの追加
        p1.appendChild(document.createElement('br'));//brタグの追加
        if (event.data.equals("2")) {
          var p2 = document.getElementById("p2");
          p2.appendChild(document.createTextNode(event.data));
        }
      }
    }

  </script>
</head>

<body>
  ここはroom1です
  <div id="p1"></div>
  <h1 id="p2"></h1>
</body>

</html>
