<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Cardgame</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('/Room/exist');
      sse.onmessage = function (event) {
        console.log(event.data);
        if (event.data == 4) {
          document.getElementById("room_complete").textContent = "ゲーム開始"
          document.getElementById("room_incomplete").textContent = "現在の参加人数は：" + event.data;
        }
        else {
          //操作対象のDOMを取得
          document.getElementById("room_incomplete").textContent = "現在の参加人数は：" + event.data;//ノードの追加
        }
      }
    }

  </script>
</head>

<body>
  ここはroom1です
  <h1 id="room_incomplete"></h1>
  <a id="room_complete" href="/Room/round1"></a>
</body>

</html>
