<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Cardgame</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('/Room/exist1');
      sse.onmessage = function (event) {
        console.log(event.data);
        if (event.data == 2) {
          document.getElementById("call").textContent = "続行";
          document.getElementById("drop").textContent = "降りる";
          document.getElementById("room_incomplete").textContent = "現在の参加人数は：" + event.data;
        }
        else {
          //操作対象のDOMを取得
          document.getElementById("room_incomplete").textContent = "現在の参加人数は：" + event.data;//ノードの追加
        }
      }
    }

  </script>
</head>

<body>
  round1です
  <div th:if="${hand1}">
    [[${hand1.suit}]], [[${hand1.number}]]
  </div>
  <div th:if="${hand2}">
    [[${hand2.suit}]], [[${hand2.number}]]
  </div>
  <a id="call" th:href="@{/Room/round2(hand1=${hand1.id},hand2=${hand2.id})}"></a>
  <a id="drop" href="/Room/result"></a>
</body>

</html>
