<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Cardgame</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('/Room/exist2');
      sse.onmessage = function (event) {
        console.log(event.data);
        if (event.data == 2) {
          document.getElementById("room_complete").textContent = "ゲーム開始"
          document.getElementById("room_incomplete").textContent = "現在の参加人数は：" + event.data;
        }
        else {
          //操作対象のDOMを取得
          document.getElementById("room_incomplete").textContent = "現在の参加人数は：" + event.data;//ノードの追加
        }
      }
    }

  </script>
</head>

<body>
  <h1 id="room_incomplete"></h1>
  <a id="room_complete" href="/Room/round1"></a>

  round2です
  自分の手札
  <div th:if="${myHand1}">
    [[${myHand1.suit}]], [[${myHand1.number}]]
  </div>
  <div th:if="${myHand2}">
    [[${myHand2.suit}]], [[${myHand2.number}]]
  </div>

  CPUの手札
  <div th:if="${cpuHand1}">
    [[${cpuHand1.suit}]], [[${cpuHand1.number}]]
  </div>
  <div th:if="${cpuHand2}">
    [[${cpuHand2.suit}]], [[${cpuHand2.number}]]
  </div>
  <div th:if="${cpuHand3}">
    [[${cpuHand3.suit}]], [[${cpuHand3.number}]]
  </div>

  <a th:href="@{/Room/round3(myHand1=${myHand1.id},myHand2=${myHand2.id})}">続行</a>
  <a href="/Room/result">降りる</a>
</body>

</html>
