<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Cardgame</title>
  <link rel="stylesheet" href="../css/stylesheet.css">
</head>

<body>
  <div class="rule-page">
    <div class="main-bg">
      <div class="wrapper">
        <div class="button-area">
          <h2 class="quickly-title">今すぐゲームを始めたい方はこちらから</h2>
          <div class="main-button wait-place">
            <div class="button-tule">
              <a class="main-rule-link wait-place-link" href="rule.html">待機場に進む</a>
              <img class="arrow-img" src="../img/arrow.png">
            </div>
          </div>
        </div>

        <div class="howplay-area">
          <div class="howplay-title-area">
            <div class="howplay-title-bg">
              <h3 class="howplay-title">遊び方</h3>
            </div>
          </div>

          <div class="porker-intro-text">
            <h1 class="intro-top-title">基本ルール</h1>
            <p class="intro-text">プレイヤーに配られた2枚のカードと全プレイヤー共通の5枚のカード、合計7枚を組み合わせて5枚で手役を作り、役の強いプレイヤーが勝ちとなります。</p>
          </div>

          <div class="porker-intro-text">
            <h1 class="intro-top-title">ゲーム用語</h1>
            <p class="intro-text">チェックとは、現在配られている全てのカードを持って、ゲームを続行することを意味します。</p>
            <p class="intro-text">フォールドとは、現在配られている全てのカードでは、ゲーム続行は不可能だと判断し、ゲームを降りることを意味します。</p>
          </div>

          <div class="porker-intro-text">
            <h1 class="intro-top-title">ゲームの流れ</h1>
            <ol class="porker-game-flow">
              <li class="game-intro-flow"><span>&#9312;</span>
                <p>待機場に進む。4人集まるとゲームを開始することができます。</p>
              </li>
              <li class="game-intro-flow"><span>&#9313;</span>
                <p>ゲーム開始後、まず、自分の手札となるカードが2枚配られます。</p>
              </li>
              <li class="game-intro-flow"><span>&#9314;</span>
                <p>自分の手札2枚を確認後、"チェック"か"フォールド"を押します。</p>
              </li>
              <li class="game-intro-flow"><span>&#9315;</span>
                <p>3枚の全プレイヤー共通カードが配られます。</p>
              </li>
              <li class="game-intro-flow"><span>&#9316;</span>
                <p>自分の手札2枚と3枚の全プレイヤー共通カードを確認後、"チェック"か"フォールド"を押します。</p>
              </li>
              <li class="game-intro-flow"><span>&#9317;</span>
                <p>4枚目の全プレイヤー共通カードが配られます。</p>
              </li>
              <li class="game-intro-flow"><span>&#9318;</span>
                <p>自分の手札2枚と4枚の全プレイヤー共通カードを確認後、"チェック"か"フォールド"を押します。</p>
              </li>
              <li class="game-intro-flow"><span>&#9319;</span>
                <p>5枚目の全プレイヤー共通カードが配られます。</p>
              </li>
              <li class="game-intro-flow"><span>&#9320;</span>
                <p>自分の手札2枚と5枚の全プレイヤー共通カードを確認後、"最終結果を表示"を押します。</p>
              </li>
              <li class="game-intro-flow"><span>&#9321;</span>
                <p>最終結果を確認後、"ルール画面に戻る"を押すとゲーム終了となります。</p>
              </li>
            </ol>
          </div>

          <div class="porker-intro-text porker-notes">
            <h1 class="intro-top-title">注意事項</h1>
            <p class="intro-text">※ゲームの中で、"フォールド"を押すと、全プレイヤーがゲームを終了するまで待機状態となります。また、最終結果も表示されません。</p>
          </div>
        </div>

        <div class="button-area">
          <h2 class="quickly-title">今すぐゲームを始めたい方はこちらから</h2>
          <div class="main-button wait-place">
            <div class="button-tule">
              <a class="main-rule-link wait-place-link" href="/Room/room">待機場に進む</a>
              <img class="arrow-img" src="../img/arrow.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <span>&COPY;OuyouEnsyuTeam8</span>
    </footer>
  </div>


</body>

</html>
